<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name='viewport' content='width=1000' />
    <title></title>
	
    <link href="__STYLE__/home/base.css" rel="stylesheet" />
	<link href="__STYLE__/home/common.css" rel="stylesheet" />
    <link href="__STYLE__/home/index.css" rel="stylesheet" />
    <script src="__JS__/home/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>
	<script src="__JS__/home/H-ui.home.js" type="text/javascript"></script>
    <script type="text/javascript">	
	/******************************************************/
        function Show_SubNav(obj) {
            var status = $(obj).children("ul").css("display");
            $('.nav_sub').css("display","none");
            if (status == "none") {
                $(obj).children("ul").css("display", "block");
            } else
            {
                $(obj).children("ul").css("display", "none");
            }
            
        }
	
</script>

<!--[if lt IE 9]>
	<script type="text/javascript" src="__PUBLIC__/H-ui/lib/respond.min.js"></script>
	<![endif]-->

</head>
<body class='body_bg'> 
<div class="head" style='position: absolute' >
        <div class="head_sub" >
            <div style="float:left;">
                <a href="#"><img src="__IMG__/home/logo.png" alt="xxx" class="logo"/></a>
            </div>
            <div style="float:left;margin-left:30px;" >
                <div id="jsddm" class="nav_bar">
                    <div><span class="nav_1 nav_bg"></span><a href="<{:U('Index/index')}>" >首页</a></div>
                    <div><span class="nav_8 nav_bg"></span><a href="<{:U('Member/archives')}>" >我的档案</a></div>
                    <div onclick="Show_SubNav(this)" class="nav_dv"><span class="nav_3 nav_bg"></span><a href="#" >账户管理</a>
                        <ul class="nav_sub" >
                            <li><a href="<{:U('Transaction/activation')}>">激活码管理</a></li>
                            <li><a href="<{:U('Member/myteam')}>">我的团队</a></li>
                            <li><a href="<{:U('Member/group')}>">提供与得的记录</a></li>
                         
                        </ul>
                    </div>
                    <div onclick="Show_SubNav(this)" class="nav_dv"><span class="nav_4 nav_bg"></span><a href="#" >交易记录</a>
                        <ul class="nav_sub">
                            <li><a href="<{:U('Transaction/provide')}>">提供帮助记录</a></li>
                            <li><a href="<{:U('Transaction/apply')}>">接收帮助记录</a></li>
                            <li><a href="<{:U('Transaction/cash')}>">提供帮助交易记录</a></li>
							<li><a href="<{:U('Transaction/frozen')}>">推荐奖钱包记录</a></li>
							<li><a href="<{:U('Transaction/activity')}>">经理奖钱包记录</a></li>	
							<li><a href="<{:U('Transaction/pinlist')}>">激活码交易记录</a></li>
                        </ul>
                    </div>
                  
                    <div><span class="nav_6 nav_bg"></span><a href="<{:U('Reg/index')}>" >注册会员</a></div>
                </div>
            </div>
            <div style="float:right;">
                <div id="Ul1" class="nav_bar">
                    <div onclick="Show_SubNav(this)"  style='width:130px;overflow:visible;'>
					<span class="nav_7 nav_bg "></span><a href="#" >我的钱袋</a>
						 <ul class="nav_sub"  style='width:200px;'>
							  <li ><span class='block money_l'>钱包</span><span class='block money_r'><{$userinfo.cash}></span></li>
							  <li><span class='block money_l'>经理奖钱包</span><span class='block money_r' ><{$userinfo.activity}></span></li>
							  <li><span class='block money_l'>推荐奖钱包</span><span  class='block money_r'><{$userinfo.frozen}></span></li>
                        </ul>
					</div>
                    <div><span class="nav_5 nav_bg"></span><a href="<{:U('Article/newslist')}>" >新闻</a></div>
                    <div><span class="nav_9 nav_bg"></span><a href="<{:U('Message/messagebox')}>" >信息</a></div>
                    <div><span class="nav_10 nav_bg"></span><a href="<{:U('Login/logout')}>" >退出</a></div>
                </div>
            </div>
        </div>
    </div>
	<div class='clear' style='height:75px;'></div>
<!------------->