<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404访问错误</title>	
</head>
<body>
<style type="text/css">
*{font-family:'微软雅黑';color:#333;font-size:14px;margin:0px;padding:0px;}
body{background:#eee;}
.main{margin:25px auto;width:600px;height:auto;padding:15px;border:1px solid #ddd;background:#fff;}
</style>
<div class="main">
<h1 style="font-size:120px;text-align:center;">404</h1>
<div style="font-size:16px;">
访问错误，页面已经丢失！你现在可以
<a href="/" style="font-weight:bold;font-size:16px;color:blue;">返回首页</a>
或者
<a href="javascript:void(0);" onclick="reback()" style="font-weight:bold;font-size:16px;color:blue;">后退一步</a>
</div>
</div>
<script type="text/javascript">
function reback(){
	history.back(-1);
}
</script>
</body>
</html>