<include file='Common:head' />
<title>分类编辑</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" action="/" method="post">
    上级栏目：
    <select style='height:31px;' id="sel_Sub" name="pid" onChange="SetSubID(this);">
      <option value="0">顶级分类</option>
	  <volist name='list1' id='vo1' >
	  <option value="<{$vo1.id}>"><{$vo1.art_class_name|htmlspecialchars_decode=###}></option>
	  </volist>
    </select>
   
    分类名：<input class="input-text art_class_name" style="width:170px" type="text" value="<{$name}>" placeholder="输入分类" name="class-val" id="class-val">
    <div class="text-c mt-20"><button type="button" class="btn btn-success" id="" name="" onClick="class_save('<{$id}>');"><i class="icon-save"></i> 保存</button></div>
  </form>
</div>
<include file='Common:foot' />