*{margin:0 auto;padding:0; text-decoration:none; list-style:none;font-family:Arial, Helvetica, sans-serif;}
body{ background:#fef8e4; -webkit-appearance: none;}
.common_box{width: 512px;border: 1px solid #EEE;padding:0px 20px 20px 20px;margin-left:20px;}
.common_box_box{width: 450px;*width:470px; height:auto;border: 1px solid #D5D5D5; background: #fef8e4;padding:10px 30px;overflow: hidden;}
.common_row{background:#fff;width:48%;border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;overflow: hidden;}
.common_l{float:left;}
.common_r{float:right;}
.title{height: 45px;line-height: 45px; background: #858585;}
.img {  background: url(../../images/home/title_bg_03.png) no-repeat 0px 8px; float: left;  width: 36px; margin-left: 30px;   height: 45px;   margin-right: 20px;}
.txt{font-size: 18px;font-weight: bold;color: #FFF;}
.common_input{border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;border:0px;height: 40px;line-height: 40px;*height:auto;*line-height:auto;color: #807a62;cursor: pointer;font-style: normal;width:100%;-webkit-appearance:none;}
.input_style__reset_bg{height:45px;line-height:45px;color:#000;font-size:16px;font-weight:bold;background: #fbd400;}
.input_style__botton_bg{height:45px;line-height:45px;color:#000;font-size:16px;font-weight:bold;background: #2ccf13;}
