<include file='Common:header' />
<div class="body_Dv">
 <div class="MessBox" >
    <div class="divcentent">
        <div class="new_dv">
		<div class="head_title" >
		 <span class=" path left" >新闻 > 新闻内页</span>
         </div>
          <div  style='text-align:center;'>
		  <div  style='height:40px;line-height:40px;font-weight:bold;font-size:16px;'><{$relust.art_title}></div>
		  <span>时间：<{$relust.art_time|date='Y-m-d H:i:s',###}>，来源：<{$relust.art_source}>，作者：<{$relust.art_author}></span>
		  </div>
		  <div style='padding:10px 50px;'>
			<{$relust.art_content}>
		  </div>
        </div>
    </div>
 </div>
 </div>
</body>
</html>
