<include file='Common:head' />
<style type="text/css">
.msgs{display:inline-block;width:104px;color:#fff;font-size:12px;border:1px solid #0697DA;text-align:center;height:30px;line-height:30px;background:#0697DA;cursor:pointer;}
.msgs1{background:#E6E6E6;color:#818080;border:1px solid #CCCCCC;}
</style>
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" action="__SELF__" method="post">
    <table class="table">
      <tbody>
        <tr>
          <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
          <td><input type="password" style="width:200px" class="input-text newpassword" value="" id="teacher-new-password" name="newpassword"></br>
		  <span class='newpwd_tip'></span>
		  </td>
        </tr>
        <tr>
          <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
          <td><input type="password" style="width:200px" class="input-text repassword" value="" id="teacher-new-password2" name="repassword"></br>
			 <span class='repwd_tip'></span>
		  </td>
        </tr> 
		<tr>
          <th class="text-r"><span class="c-red">*</span> 短信验证码：</th>
          <td><input type="password" style="width:100px" class="input-text code" value="" id="teacher-new-password2" name="code" >&nbsp;&nbsp;<span class="msgs">获取短信验证码</span></br>
			 <span class='code_tip'></span>
		  </td>
        </tr>
        <tr>
          <th></th>
          <td><button class="btn  radius btn-primary" onclick='admin_password_save(<{$id}>)' type="button"><i class="Hui-iconfont">&#xe632;</i> 确定</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<include file='Common:foot' />
<script type="text/javascript">
$(function(){
				//获取短信验证码
		var validCode=true;
		$(".msgs").click (function  () {
			var time=60*3;
			var code=$(this);
			var flag=false;
			if (validCode) {
				validCode=false;
				code.addClass("msgs1");
				flag=true;
			var t=setInterval(function  () {
				time--;
				code.html(time+"秒");
				if (time==0) {
					clearInterval(t);
				code.html("重新获取");
					validCode=true;
				code.removeClass("msgs1");

				}
			},1000)
			}
			if(flag)
			{  
				flag=false;
				set_code(<{$id}>);
			}
		})
	/****************************************/


});
</script> 