<include file='Common:head' />
<title>角色编辑</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" id="loginform" >
    <table class="table table-border table-bordered table-bg">
      <tbody>
        <tr>
          <th class="text-r" width="80">角色名称：</th>
          <td><input name="rolename" type="text" class="input-text rolename" id="" value="" datatype="*1-20" nullmsg="角色名称不能为空！"> 
          </td>
        </tr>
        <tr>
          <th class="text-r va-t" >权限：</th>
          <td>
            <table class="table table-border table-bordered table-bg">
              <tbody>
			  <volist name='list1' id='vo1'> 
			  <tr>
				<td  colspan='2'  style='font-weight:bold;font-size:13px;color:red;'><input name="power_id[]" type="checkbox" value="<{$vo1.id}>">&nbsp;&nbsp;<{$vo1.name}></td>
			  </tr>
			  <volist name='list2' id='vo2'>
			  <if condition='$vo2[pid] eq $vo1[id]'>
                <tr>
					<th style='color:rgb(83, 1, 119);width: 100px;'><input name="power_id[]" type="checkbox" value="<{$vo2.id}>">&nbsp;&nbsp; <{$vo2.name}></th>
					<td class="permission-list" >
					<div class="cl">
					<volist name='list3' id='vo3'>
					<if condition='$vo3[pid] eq $vo2[id]'>
                    <label class="item"><input name="power_id[]" type="checkbox" value="<{$vo3.id}>">&nbsp;&nbsp; <{$vo3.name}></label>
					</if>
					</volist>
                    </div>
					</td>
                </tr>
				</if>
				</volist>
               </volist>
        <tr>
          <th class="text-r va-t">描述：</th>
          <td><textarea name="remarks" class="textarea remarks" id="newpassword" placeholder="描述下角色所具有的权限" style="width:400px; height:50px; resize:none"></textarea> 
          </td>
        </tr>
        
        <tr>
          <th></th>
          <td>
            <button type="button" onclick='admin_role_add_save()' class="btn btn-success radius" id="admin-role-save" ><i class="icon-ok"></i> 确定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<include file='Common:foot' />