<include file='common:head' />
<title>节点信息编辑</title>
</head>
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="__SELF__" method="post">
      <table class="table table-bg">
        <tbody>
          <tr>
            <th width="100" class="text-r">节点名称：</th>
			
            <td><input type="text" style="width:200px" class="input-text name" value="<{$power.name}>" placeholder=""  name="name"></td>
          </tr>
          
		  <tr>
            <th class="text-r"> 字段名称：</th>
            <td><input type="text" style="width:200px" class="input-text control_action" value="<{$power.control_action}>" placeholder=""  name="mobile"></td>
          </tr>
		  <tr>
            <th class="text-r">父级ID：</th>
            <td><input type="text" style="width:200px" class="input-text pid" value="<{$power.pid}>" placeholder=""  name="pid"></td>
          </tr>
          <tr>
            <th class="text-r">排序：</th>
            <td><input type="text" style="width:200px" class="input-text sort" value="<{$power.sort}>" placeholder=""  name="sort"></td>
          </tr>
          <tr>
            <th class="text-r">lEVEl：</th>
            <td><input type="text" style="width:200px" class="input-text level" value="<{$power.level}>" placeholder="" id="user-address" name="level"></td>
          </tr>
		  <tr>
            <th class="text-r">STYLE：</th>
            <td><input type="text" style="width:200px" class="input-text style" value="<{$power.style}>" placeholder="" id="user-address" name="address"></td>
          </tr>
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="button" onclick='power_edit_save(<{$id}>)'><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<include file='common:foot' />