<include file='Common:head' />
<title>扣除激活币数</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 添加管理 <span class="c-gray en">&gt;</span>  扣除激活币数 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
<table class="table table-border table-bordered table-hover table-bg">
  <tbody>
    <tr>
      <th class="text-r" width="100">账号：</th><td><input type="text" id="website-title" placeholder=""  style="width:500px" class="input-text username"></td>
    </tr>
    <tr>
      <th class="text-r" width="100">个数：</th><td><input type="text" id="website-title" placeholder="" value="" style="width:500px" class="input-text money"></td>
    </tr>
    <tr>
      <th class="text-r"></th><td><button name="system-base-save" onclick='del_pin()' id="system-base-save" class="btn btn-danger radius" type="submit"><i class="Hui-iconfont">&#xe6e2;</i>  扣除</button></td>
    </tr> 
 
  </tbody>
</table>
</div>
<include file='Common:foot' />
