<include file='Common:head' />
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" action="__SELF__" method="post">
    <table class="table">
      <tbody>
        <tr>
          <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
          <td><input type="password" style="width:200px" class="input-text newpassword" value="" id="teacher-new-password" name="newpassword"><br/>
		  <span class='newpwd_tip'></span>
		  </td>
        </tr>
        <tr>
          <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
          <td><input type="password" style="width:200px" class="input-text repassword" value="" id="teacher-new-password2" name="repassword"><br/>
			 <span class='repwd_tip'></span>
		  </td>
        </tr>
		<tr>
          <th></th>
          <td><button class="btn btn-success radius" onclick='user_password_save(<{$id}>)' type="button"><i class="icon-ok"></i> 确定</button></td>
        </tr>
       
      </tbody>
    </table>
  </form>
</div>
<include file='Common:foot' />
