<include file='Common:head' />
<title>添加用户</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text mobile" value="" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;' ><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text password" value="" placeholder="" id="password" name="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;' ><span class="c-red">*</span>二级密码：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text towlevelpassword" value="" placeholder="" id="towlevelpassword" name="towlevelpassword">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>支付宝：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text alipay" placeholder="" name="alipay" id="alipay">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text name" placeholder="" name="name" id="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;'><span class="c-red">*</span>银行卡号：</label>
			<div class="formControls col-xs-7 col-sm-9">
				<input type="text" class="input-text bankno" placeholder="" name="bankno" id="bankno">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3" style='text-align:right;'>银行名称：</label>
			<div class="formControls col-xs-7 col-sm-9"> <span class="select-box">
				<select class="select bank" size="1" name="bank">
					<volist name='banklist' id='vo'>
					 <option value="<{$vo.bankname}>"><{$vo.bankname}></option>
					</volist>
					</select>
				</select>
				</span> </div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
<include file='Common:foot' />
<script type="text/javascript">
$(function(){

	
	$("#form-member-add").validate({
		rules:{
			
			password:{
				required:true,
				minlength:6,
				maxlength:12
			},
			towlevelpassword:{
				required:true,
				minlength:6,
				maxlength:12
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			alipay:{
				required:true,
				
			},
			name:{
				required:true,
			},
			bankno:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			
			user_add_save();
		}
	});
});
</script> 